$darkpalette: #694e4e;
$ligthpalette: #f3b565;
$darkcolor: #886f6f;
$link: #e4dccf;
$background: #f1dcdc;
$text: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
$header: 'Source Code Pro', monospace;
